/.gradle/
/build/
/app/build/
/local.properties

# Android Studio
/.idea/
/*.iml

# Android SDK / Tools
/android-sdk/
/sdk/
/kotlinc/
/*.zip

# Logs
*.log
*.bak

# Xposed API leftovers
app/libs/*.b64
app/libs/*.bak
app/libs/*.kt

# OS files
.DS_Store
Thumbs.db
